.logged-user{
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  padding: 7px;
  background: lightcoral;
  display: flex;
  justify-content: center;
}

.logged-user p{
  color: #f8f8f8;
  font-size: .85rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.5;  
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "side-menu rt-desk rt-desk rt-desk"
    "side-menu rt-desk rt-desk rt-desk"
    "side-menu rt-desk rt-desk rt-desk";
}



.side-menu-sm{
  grid-area: side-menu-sm;
  display: none;
  width: 70px;
  padding: 1rem 0.5rem 7rem 0.5rem;
  text-align: center;
}

.side-menu{
  grid-area: side-menu;
  position: fixed;
  width: 12vw;
  min-width: 200px;
  height: 100vh;
  left: 0;
  padding: 2rem 1rem 7rem 2rem;
  background: #f9f9f9;
  box-shadow: 1px -10px 20px -5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: all .5s ease;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.side-menu.expanded{
  left: 0px;
}

.side-menu ul,
.side-menu-sm ul {
  width: 100%;
  list-style: none;
  padding: 0;
}

.rt-new-ticket {
  display: flex;
  justify-content: center;
  padding: 0 1rem 0 0;
}

button.rt-create {
  border: none;
  padding: 1rem;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background: rgba(136, 247, 81,0.5);
}
button.rt-create:hover{
  background: rgba(136, 247, 81,0.6);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}
button.rt-create:focus{
  outline: none;
}

.tr-dash-option{
  padding: 7px 0;
}

.tr-dash-option a,
.tr-dash-option p.side-menu-btn{
  color: #212529;
  font-weight: 600;
  transition: all 0.3s ease;
}

.tr-dash-option a:hover,
.tr-dash-option p.side-menu-btn:hover{
  color: rgba(158, 230, 121, 0.9);
  text-decoration: none;
  cursor: pointer;
}

.tr-dash-sublist {
  padding: 10px 0;
  margin-left: 1rem;
}

.rt-desk-container{
  width: 100%;
  min-height: 100vh;
  margin-left: 200px;
  transition: all .5s ease;
  z-index: 1;
}
.rt-desk {
  grid-area: rt-desk;
  padding: 2rem;
  background: #f8f8f8;
}

.rt-ticket-entry{
  cursor: pointer;
}
.rt-ticket-entry:hover{
  background: rgba(136, 247, 81, 0.3);
}


@media (max-width: 768px){
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "side-menu-sm rt-desk rt-desk rt-desk"
      "side-menu-sm rt-desk rt-desk rt-desk"
      "side-menu-sm rt-desk rt-desk rt-desk";
  }

  .side-menu-sm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .side-menu-sm .rt-new-ticket{
    padding: 0;
  }
  .side-menu-sm button.rt-create{
    padding: 0.5rem;
    width: 50px;
    height: 50px;
  }
  
  .side-menu{
    left: -200px;
    height: 100%;
  }

  .rt-desk-container{
    margin-left: 0;
  }

  .rt-desk {
    grid-area: rt-desk;
    padding: .5rem;
    background: #f8f8f8;
  }

  .col-description{
    display: none;
  }
}
